a {
  text-decoration: none;
}

.section.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 10px;
  background-color: #000231;
}

.headernav {
  position: relative;
  z-index: 1000;
  padding: 2px 10px;
  background-color: #2c3d51;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .45);
}

.headerblock {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

.brandimage {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navmenu {
  z-index: 9;
  width: 175px;
  max-width: 175px;
  padding-top: 65px;
  background-color: #2c3d51;
}

.navlink {
  display: block;
  max-width: 175px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 5px;
  border: 1px solid #2c3d51;
  color: #fff;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.navlink:hover {
  border-color: #abceee;
  color: #e0e913;
}

.navlink:focus {
  border-color: #abceee;
}

.navlink.w--current {
  color: #abceee;
}

.body {
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #f0f1f3;
  font-family: Lato, sans-serif;
  font-size: 12px;
}

.menubutton {
  display: block;
  color: #fff;
}

.menubutton.w--open {
  z-index: 500;
  background-color: transparent;
  color: #cf0;
}

.resultsrow {
  margin-right: auto;
  margin-left: auto;
}

.resultsrow:hover {
  background-color: rgba(251, 255, 236, .45);
}

.resultsrow.oddrow {
  background-color: #f0f1f3;
}

.resultsrow.oddrow:hover {
  background-color: #fbffec;
}

.cardwrapper {
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(172, 185, 191, .45);
  background-color: #fff;
}

.cardwrapper.kanban {
  height: 425px;
  max-height: 425px;
  border-top: 10px solid rgba(172, 185, 191, .45);
}

.cardwrapper.kanban.skyblue {
  border-top-color: #67b2e4;
}

.cardwrapper.kanban.aquamarine {
  border-top-color: #63d995;
}

.cardwrapper.kanban.salmon {
  border-top-color: #f3a59d;
}

.cardwrapper.kanban.orange {
  border-top-color: #f8e187;
}

.cardtitle {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reportcardamount {
  margin-bottom: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-top: 1px solid #abceee;
  border-bottom: 1px solid #abceee;
  color: #000;
  font-size: 4vh;
  line-height: 4vh;
  font-weight: 300;
  text-align: center;
}

.reportcardsubtext {
  text-align: center;
}

.cardflexblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 20px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.copyrighttext {
  color: #fff;
  text-align: center;
}

.reportcardwtd {
  font-weight: 700;
  text-align: center;
}

.reportcardmtd {
  font-weight: 700;
  text-align: center;
}

.reportcardytd {
  font-weight: 700;
  text-align: center;
}

.pagename {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 300;
}

.displayblock {
  display: block;
  width: 96%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.tableheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(172, 185, 191, .45);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgba(172, 185, 191, .15);
  font-weight: 700;
}

.outputblock {
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(172, 185, 191, .45);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form700px {
  display: block;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.formtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  color: green;
  font-size: 15px;
  font-weight: 700;
}

.inputfield {
  padding: 3px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 61, 81, .45);
  border-radius: 3px;
  font-size: 11px;
  line-height: 15px;
}

.inputfield:focus {
  border: 1px solid #abceee;
  background-color: #fbffec;
}

.inputfield.halfsized {
  max-width: 45%;
  float: left;
}

.inputfield.thirdsized {
  max-width: 30%;
  float: left;
}

.inputfield.fieldtextright {
  text-align: right;
}

.fieldlabel {
  margin-bottom: 0px;
  color: #2c3d51;
  font-weight: 700;
}

.submitbutton {
  display: block;
  width: 90%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 1px solid green;
  border-radius: 3px;
  background-color: rgba(0, 128, 0, .45);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #000231;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.submitbutton:hover {
  background-color: green;
  color: #fff;
}

.forminstruction {
  margin: 10px 30px;
  color: #2c3d51;
  font-size: 11px;
  line-height: 15px;
}

.floatcleardiv {
  height: 1px;
  clear: both;
}

.spacerblock50 {
  height: 50px;
}

.contenttabs {
  display: block;
  width: 96%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.contenttabmenu {
  text-transform: uppercase;
}

.contenttablink {
  margin-right: 1px;
  border-bottom: 3px solid rgba(172, 185, 191, .45);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: green;
  color: #fff;
}

.contenttablink:hover {
  border-color: #abceee;
  color: #fff500;
}

.contenttablink.w--current {
  border-color: #2c3d51;
  background-color: #2c3d51;
  color: #ebff00;
  font-weight: 700;
}

.flexrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.cancelbutton {
  width: 10%;
  min-width: 75px;
  margin-top: 10px;
  margin-right: 7px;
  padding: 5px;
  border: 1px solid #e76c6c;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #e76c6c;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.cancelbutton:hover {
  background-color: #e76c6c;
  color: #fff;
}

.formrow {
  margin-right: -10px;
  margin-left: -10px;
}

.loginblock {
  display: block;
  width: 500px;
  margin-top: 52px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .45);
  border-radius: 3px;
}

.loginfield {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.headerrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #acb9bf;
  font-weight: 700;
}

.bizname {
  margin-top: 20px;
  margin-left: -31px;
  color: #fff;
  font-size: 19px;
}

.carddatablock {
  overflow: auto;
  height: 300px;
  padding-right: 6px;
  padding-left: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(172, 185, 191, .45);
  line-height: 20px;
}

.carddatatext {
  text-decoration: none;
}

.productimage {
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(172, 185, 191, .45);
  border-radius: 5px;
}

.submenudropdown {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
}

.dropdowntext {
  margin-right: 11px;
}

.submenutoggle {
  padding: 1px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
}

.submenutoggle.w--open {
  background-color: rgba(251, 255, 236, .65);
}

.submenuicon {
  margin-right: 0px;
}

.submenulist.w--open {
  z-index: 500;
  margin-top: 4px;
  margin-left: -75px;
  border-radius: 3px;
  background-color: rgba(251, 255, 236, .9);
  box-shadow: 0 1px 3px 0 #000;
  font-size: 10px;
  text-decoration: none;
}

.submenulink {
  padding: 10px;
  border: 1px solid #f0f1f3;
  font-size: 10px;
}

.submenulink:hover {
  border-color: #abceee;
}

.searchblock {
  position: relative;
  left: 12px;
  top: -3px;
  right: 0px;
  display: block;
  margin: 5px 5px 2px;
}

.searchbox {
  width: 300px;
  height: 30px;
  padding: 2px 7px;
  float: right;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  line-height: 14px;
}

.searchbutton {
  height: 30px;
  padding: 3px 10px;
  float: right;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.actionblock {
  position: relative;
}

.flextablewrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menuscrollwrap {
  display: block;
  overflow: auto;
  height: 100vh;
  padding-bottom: 90px;
}

.deliverylistitem {
  min-height: 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid rgba(172, 185, 191, .45);
  border-bottom: 1px solid rgba(172, 185, 191, .45);
}

.deliveryorderblock {
  margin-top: 6px;
  margin-bottom: 15px;
}

.deliverybody {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato, sans-serif;
}

.deliveryordernumber {
  margin-top: 6px;
  margin-left: -5px;
  font-size: 32px;
  font-weight: 300;
}

.deliveryaddresses {
  margin-top: 15px;
}

.deliverytime {
  margin-top: 15px;
}

.deliveryarrow {
  margin-top: 20px;
  font-family: Fontawesome, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.deliverymap {
  display: block;
  max-height: 200px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
}

.deliverymapwrap {
  display: block;
  margin: 5px auto;
  padding-right: 10px;
  padding-left: 10px;
}

.dwrap {
  display: block;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.iconaction {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: rgba(51, 51, 51, .55);
}

.iconaction:hover {
  color: #333;
}

.deliveryheader {
  padding-right: 5px;
  padding-left: 5px;
  background-color: green;
  color: #fff;
}

.deliveryaction {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.deliveryaction.decline {
  border: 1px solid #e76c6c;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #e76c6c;
}

.deliveryaction.decline:hover {
  background-color: #e76c6c;
  color: #fff;
}

.deliveryaction.accept {
  border: 1px solid green;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: green;
}

.deliveryaction.accept:hover {
  background-color: green;
  color: #fff;
}

@media (max-width: 991px) {
  .cardwrapper.kanban {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .cardwrapper.kanban.orange {
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .cardflexblock {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .bizname {
    margin-left: -8px;
  }
}

@media (max-width: 767px) {
  .navmenu {
    display: none;
  }
  .menubutton {
    padding: 10px;
  }
  .cardflexblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .bizname {
    margin-top: 10px;
  }
}

@media (max-width: 479px) {
  .brandimage {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .brandlink {
    padding-left: 0px;
  }
  .menubutton {
    padding: 7px;
  }
  .cardflexblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .bizname {
    margin-top: 7px;
    font-size: 14px;
  }
  .searchbox {
    width: 200px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}