#crop-editor .current-status{
    position : absolute;
    pointer-events : none;
    color : #fff;
    text-shadow : rgb(0, 0, 0) 0px 0px 5px;
    margin-left : 15px;
    margin-top : 10px;
    z-index : 99;
}
#crop-editor .resize-container{
	position: relative;
	display: inline-block;
	cursor: move;
	margin: 0 auto;
};
#crop-editor .resize-container{
	position: relative;
	display: inline-block;
	cursor: move;
	margin: 0 auto;
};
#crop-editor .resize-handle{
    transform : scale(1);
    -ms-transform : scale(1);
    -webkit-transform : scale(1);
    -moz-transform : scale(1);
    -o-transform : scale(1);
}
#crop-editor .resize-handle:hover{
    transform : scale(2);
    -ms-transform : scale(2);
    -webkit-transform : scale(2);
    -moz-transform : scale(2);
    -o-transform : scale(2);
}
#crop-editor .resize-handle{
    transition : all .2s ease-in-out;
    -webkit-transition : all .2s ease-in-out;
    -moz-transition : all .2s ease-in-out;
    -o-transition : all .2s ease-in-out;
}
#crop-editor .resize-handle-ne,
#crop-editor .resize-handle-se,
#crop-editor .resize-handle-nw,
#crop-editor .resize-handle-sw
{
    position : absolute;
    display : block;
    width : 15px;
    height : 15px;
    background : rgba(255, 255, 255, 0.9);
    border-radius : 50%;
}
#crop-editor .resize-handle-nw{
    top : -10px;
    left : -10px;
    cursor : nw-resize;
}
#crop-editor .resize-handle-ne{
    top : -10px;
    right : -10px;
    cursor : ne-resize;
}
#crop-editor .resize-handle-sw{
    bottom : -10px;
    left : -10px;
    cursor : sw-resize;
}
#crop-editor .resize-handle-se{
    bottom : -10px;
    right : -10px;
    cursor : se-resize;
}
#crop-editor .crop-area{
	pointer-events: auto!important;
	background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    top:50%;
    left:50%;
    z-index : 99;
    border : dashed 4px rgba(255, 255, 255, 0.9);
    text-align: center;
}
#crop-editor .crop-size{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
}
#crop-editor .crop-table{
    width : 100%;
	height : 100%;
	position : relative;
}
.btn-main-menu-action > svg,
.btn-crop-tool > svg,
.editor-main-menu button > svg{
    padding: 5px 2px 0 0;
}
.btn-crop-tool:focus,
#crop-editor .editor-main-menu button:focus,
.crop-element > .edit:focus{
	outline:0;
}
.btn-crop-tool:hover{
	opacity: 1;
}
.btn-crop-tool.flip-x{
	top: 20px;
}
.btn-crop-tool.flip-y{
	top: 60px;
}
.btn-crop-tool.invert{
	top: 100px;
}
.btn-crop-tool.crop{
	top: 140px;
}
#crop-editor{
	background-color: #333;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
	display: none;
}
#crop-editor.open{
	display: block;
}
#crop-editor .editor-main-menu{
	position: fixed;
    bottom: 25px;
    right: 0;
    width: 100%;
    text-align: center;
	pointer-events: none;
	z-index: 9999;
}
#crop-editor .editor-main-menu button{
	background-color: transparent;
    color: #fff;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.8;
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin-left: 5px;
	pointer-events: auto;
}
#crop-editor .editor-main-menu button:hover{
    opacity: 1;
}
.btn-crop-tool{
	position: absolute;
    left: -40px;
	background-color: transparent;
	color: #fff;
	border: 2px solid;
    border-radius: 50%;
    opacity: 0.2;
	width: 35px;
    height: 35px;
}
.btn-main-menu-action{
    display: none;
    width: 35px!important;
    height: 35px!important;
    font-size: 15px!important;
}
.crop-element{
    overflow: hidden;
    position: relative;
    height: 100%;
    display: block;
    cursor: pointer;
    background-color: #ccc;
}
.crop-element.busy{
    pointer-events: none;
}
.crop-element .crop-progress-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
}
.crop-element .crop-progressbar{
    background-color: #337ab7;
    height: 100%;
    position: absolute;
    line-height: inherit;
}
.crop-element > img{
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.crop-element > .edit{
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background-color: #333;
    color: #fff;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.8;
    font-size: 20px;
}
.crop-element.not-empty > .edit{
    display: inline;
}
.crop-element > input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-actions,
.image-resolutions{
    position: absolute;
    bottom: 25px;
    z-index: 999;
}
.image-actions{
    left: 10px;
}
.image-resolutions{
    right: 10px;
}
.image-actions button,
.image-resolutions button{
    background-color: transparent;
    color: #fff;
    border: 2px solid;
    opacity: 0.8;
    height: 30px;
    min-width: 40px;
    font-size: 12px;
    display: block;
    margin: 5px auto 0 auto;
    outline:none;
}
.image-actions button:hover,
.image-resolutions button:hover{
    opacity: 1;
}
.image-actions button{
    min-width: auto;
    border-radius: 50%;
}
.editor-busy-container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.46);
    z-index: 99999;
}
#crop-editor.busy .editor-busy-container{
    display: inline;
}
.editor-busy,
.loader,
.loader:after ,
.editor-busy:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.loader ,
.editor-busy {
    font-size: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 99;
    border-top: 1.1em solid rgba(51, 51, 51, 0.8);
    border-right: 1.1em solid rgba(51, 51, 51, 0.8);
    border-bottom: 1.1em solid rgba(51, 51, 51, 0.8);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.resize-crop{
    width: 0;
    height: 0;
    position: absolute;
    display: none;
}
.crop-area.resize-w .left,
.crop-area.resize-w .right{
    display: inline;
}
.crop-area.resize-h .top,
.crop-area.resize-h .bottom{
    display: inline;
}
.resize-crop.right{
    cursor: e-resize;
    top: 50%;
    right: -25px;
    margin-top: -7.5px;
    border-style: solid;
    border-width: 7.5px 0 7.5px 15px;
    border-color: transparent transparent transparent  #d1d1d1;
}
.resize-crop.left{
    cursor: w-resize;
    top: 50%;
    left: -25px;
    margin-top: -7.5px;
    border-style: solid;
    border-width: 7.5px 15px 7.5px 0;
    border-color: transparent #d1d1d1 transparent transparent;
}
.resize-crop.top{
    cursor: n-resize;
    left: 50%;
    margin-left: -7.5px;
    top: -25px;
    border-style: solid;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent #d1d1d1 transparent;
}
.resize-crop.bottom{
    cursor: s-resize;
    left: 50%;
    margin-left: -7.5px;
    bottom: -25px;
    border-style: solid;
    border-width: 15px 7.5px 0 7.5px;
    border-color: #d1d1d1 transparent transparent transparent;
}