.resultstable {
	display: table;
	width:98%; 
	margin:auto;
    overflow: scroll;
}

.resultscell {padding:0px; margin:0px;}

@media screen and (max-width: 480px) {
   .hidden-xs {visibility: hidden;display: none;
  }
}

i.iconaction {float: right; font-size: 18px; cursor: alias; margin: 2px 5px;}

#demo-profile{
    width: 240px;
    height: 240px;
    float: left;
}


.carddatatext a{
color: #333;	
}	

.carddatatext a:hover{
color: #333;	
}	
	
.carddatatext a:visited{
color: #333;	
}